{% extends 'grid.html' %}
{% block content %}
    <div class="ng-app" ng-app="Audio" xmlns="http://www.w3.org/1999/html">
        <div class="audio_app" ng-controller="AudioCtrl">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text-center">MusicSync</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="share mrl   {% if  not is_set_token %}alert alert-danger{% endif %}">
                                <ul>
                                    <li>
                                        <label class="share-label" for="share-toggle-vk">ВКонтакте</label>

                                        <div class="col-md-2">
                                            <input type="checkbox" {% if is_set_token %}checked disabled {% endif %}
                                                   data-toggle="switch"
                                                   id="share-toggle-vk" class="js-get_token-vk"
                                                   data-token_url="{{ vk_auth_url }}"/>
                                        </div>
                                    </li>
                                    {% if  not is_set_token %}
                                        <li>
                                            <span>Авторизуйтесь в ВК</span>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <input type="button" class="btn btn-primary "   {% if  not is_set_token %}
                                   disabled {% endif %} value="Скачать из своего альбома"
                                   ng-click="sync_vk()"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            Всего песен: {{ '{{' }} audiosLength() {{ '}}' }} <br/>
                            Обрабатываются: {{ '{{' }} remaining() {{ '}}' }} <br/>
                            Скачано: {{ '{{' }} downloaded_audios() {{ '}}' }} <br/>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <form ng-submit="searchAudio()">
                                    <div class="input-group">
                                        <input type="text" placeholder="Пример: Григорий Лепс Лондон"
                                               class="form-control " ng-model="audioName"
                                               {% if  not is_set_token %}disabled{% endif %}>
                                    <span class="input-group-btn">
                                        <input type="submit" class="btn btn-default" value="Добавить!"
                                               {% if  not is_set_token %}disabled{% endif %}>
                                    </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div ng-show="visible ">
                                <div class="col-xs-2">
                                                <span class="btn btn-block  btn-primary glyphicon glyphicon-inbox"
                                                      ng-click="download_all()"></span>
                                </div>
                                <div>
                                    <span>  {{ '{{' }}downloaded_name(){{ '}}' }}  </span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" ng-model="total"
                                         style="width: {{ '{{' }}download_state(){{ '}}' }}%;"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="audios">
                                    <div class="col-xs-12">
                                        <div class="audio" ng-repeat="(name, audio) in audios">
                                            <div class="row">
                                                <div class="col-xs-10">
                                                    <div class="row">
                                                        <div class="col-xs-3">
                                                            {{ '{{' }}$index+1{{ '}}' }}.
                                                            {{ '{{' }}audio.artist{{ '}}' }}
                                                            - {{ '{{' }}audio.name{{ '}}' }}
                                                        </div>
                                                        <div class="col-xs-9">
                                                            <audio controls style="width: 100%" preload="none">
                                                                <source ng-src="{{ '{{' }}trustSrc(audio.src){{ '}}' }}"
                                                                        type="audio/mpeg">
                                                                src="{{ '{{' }}trustSrc(audio.src){{ '}}' }}"
                                                            </audio>
                                                        </div>
                                                        <div class="col-xs-12">
                                                            <div class="row">
                                                                <div class="col-xs-3 text-right">
                                                                    Поиск:
                                                                </div>
                                                                <div class="col-xs-9">
                                                                    <div class="progress">
                                                                        <div class="progress-bar"
                                                                             style="width: {{ '{{' }}audio.searchStage{{ '}}' }}%;"></div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-xs-2">
                                                    <span class="btn btn-block btn-danger fui-cross-circle"
                                                          ng-click="removeAudio(name)"></span>
                                                    <a ng-class="{hidden: audio.searchStage!=100}" target="_blank"
                                                       href="{{ '{{' }}audio.src{{ '}}' }}"
                                                       class="btn btn-block btn-primary  glyphicon glyphicon-download-alt"></a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}


